.DS_Store
__pycache__

*.ai
*.pdf
*.pyc
*.cpython*
*~
.ipynb_checkpoints
.coverage

*.egg-info
build
dist

_build
_images
_sources
_static
*.html
objects.inv
searchindex.js
.buildinfo

sample.*
raysum-params
empty
fraysum.*